@{
    Page.Title = "Home Page";    
    Page.CanonicalLink = "http://www.growthadvisorsllc.com/";
}
<article>
    <div id="hero">
        <hgroup>
            <h1>
                Decades of seasoned growth
            </h1>
            <h2>
                experience is here when you need it
            </h2>
        </hgroup>
        <img src='@Url.Content("~/img/homepage_image.png")' height="100%" width="100%" />    
    </div>
</article>
<div class="container_12 clearfix">
    <div class="grid_8">
        <section class="your_mission clearfix">
            <h1>Our Mission</h1>
            <img class="img" src='@Url.Content("~/img/your_mission.png")' height="122" width="176" alt=""></img>
            <div>
                <p>
                    <span class="bold">Decades of seasoned growth<br>experience is here when you need it</br></span>
                </p>
                <p>
                    As a C-level executive, your primary financial goals are to create value through sustainable growth and position your business for an ultimate exit. Growth Advisors has helped numerous companies achieve these goals.
                </p>
            </div>
        </section>
        <section class="short_list">
            <h1>The Short List</h1>
            <p class="bold">See how we can help the C-Suite focus on and achieve the most important goals:</p>            
            <h2>Satisfied customers</h2>            <h2>Employee opportunity</h2>            <h2>Competitive advantage</h2>            <h2>Sustained, profitable growth</h2>            
        </section>
    </div>
    <div class="grid_4">
        <section class="long_list">
            <h1>The Long List</h1>
            <p class="bold">We can also help with the other needs of your business:</p>
            <ul>
                <li>Cash flow</li>
                <li>Uncertainty</li>
                <li>Capital</li>
                <li>Planning</li>
                <li>Regulations</li>
                <li>M&A</li>    
                <li>Technology</li>
                <li>Family time</li>
                <li>Training</li>
                <li>Focus</li>
                <li>Innovation</li>
                <li>Advertising</li>
                <li>Sales</li> 
                <li>Complexity</li>
                <li>Location</li> 
                <li>Litigation</li>                
                <li>Satisfaction</li>    
                <li>Hackers</li>
                <li>Diversity</li>
                <li>Succession</li>
                <li>Quality</li> 
                <li>Costs</li>    
                <li>Leases</li>
                <li>Delegation</li>
                <li>Set-backs</li>
                <li>Recruiting</li>
                <li>Public relations</li>                
                <li>Materials</li>
                <li>Pricing</li>
                <li>Morale</li>
                <li>Turnover</li>
                <li>Insurance</li>
                <li>Research</li>
                <li>Vendors</li>
                <li>Business model</li>
                <li>Employee relations</li>
                <li>Rightsizing</li>
                <li>Confidentiality</li>
                <li>Supply chain</li>
                <li>Info overload</li>
                <li>Turnaround time</li>           
                <li>Demographics</li>
                <li>Problem solving</li>
                <li>Trade secrets</li>                
            </ul>
        </section>
    </div>
</div>
