@{
    Page.Title = "Contact Us";    
    Page.CanonicalLink = "http://www.growthadvisorsllc.com/contact-us";
}
<div class="container_12 clearfix">
    <div class="grid_12">
        <h1>Contact Us</h1>
        @Html.Partial("ContactUsInfo")
    </div>
</div>
