@{
    Page.Title = "Our Experience";
    Page.CanonicalLink = "http://www.growthadvisorsllc.com/our-experience";
}
<div id="our_experience" class="container_12 clearfix">
    <div class="grid_12">
        <h1>Our Experience</h1>
        <aside>
            <img src='@Url.Content("~/img/john_simmons.jpg")' class="img" width="100%" height="100%" alt="John Simmons, Jr. Principal" /><br />
            <p>N. John Simmons, Jr.</p>
        </aside>
        <p>
            John spent his entire career based in the Tampa Bay area and has covered Florida's west coast and central Florida. He has extensive financial and operating experience in many industries. John has advised numerous companies from their early years until they established leading positions in their industries.  He assists in strategic positioning, business model validation, planning, execution and exit. John has arranged financing (as an advisor, executive and investor) for growth companies with banks, individual and corporate investors, private equity firms and through the public market (IPOs and secondary offerings). He was in charge of an internal reengineering group at a $10-billion retailer, and has been extensively involved in hundreds of M&A transactions ranging in price from $50,000 to $5-billion. 
        </p>
        <p>
            For more than 30 years, John has served in roles with significant responsibilities including KPMG audit partner and advisor, venture capital firm president, corporate executive (Acting CIO, CFO, President, CEO) and public company director. Some of the recognizable companies he has supported include:
        </p>
        <ul>
            <li><strong>KPMG</strong> - Publix Supermarkets, Jabil Circuit, Danka, Checkers Restaurants, Communications Equity Associates, Tires Plus, Pinch-A-Penny, Polymer International, Walden Lakes and Sun City Center (predecessors to WCI Communities), Conventional Munitions Systems (CMS, a	Daimler-Benz subsidiary), Commercial Carrier (Comcar), Watkins Motor Lines, Opus South, The Wilson Company/Hyatt Regency, Maconi Homes, Mercury Medical, Gardinier Phosphate, Kaplan Industries, Homestyle Buffet and others. </li>
            <li><strong>Quantum Capital</strong> - Lifestyle Family Fitness, Knology, Invision Research and others. </li>
            <li><strong>Executive</strong> - Checkers Restaurants, Eckerd Drug Stores, New Homes Realty and Lifestyle Family Fitness. </li>
            <li><strong>Public Company Director</strong> - MedQuist (Philips’ publicly-traded subsidiary), SRI (Sterile Recoveries) Surgical and Technology Research Corporation (TRC). Has served as chairman, lead director and committee chair (audit, governance and compensation).</li>
            <li><strong>Professional and charitable</strong> - Association for Corporate Growth (director), Loyola University of New Orleans (trustee and audit committee chair), Florida’s Consumer Council (Department of Agriculture and Consumer Services), USF School of Accountancy (past-Executive in Residence), Governor’s Florida Sterling Council on Quality (founder), Morton Plant Hospital Foundation (past-director), UPARC (Upper Pinellas Association for Retarded Citizens) Foundation (founder), Leadership Tampa Bay (founder), Hunter Blood Center (past-director)(predecessor to Florida Blood Services) and others. </li>
        </ul>
        <p>
            Throughout his career, John has worked with growing companies as:
        </p>
        <ol>
            <li> The KPMG partner-in-charge of the west Florida Private Business Advisory Services practice, as well as the firm’s High Technology, Retail and Hospitality, and Manufacturing practices, where he worked with young companies, such as Jabil Circuit; </li>
            <li> An executive with Checkers when it doubled in size from $100,000,000 to $200,000,000 in one year and traded at a 50+ multiple; Eckerd when it combined its 1,800-store, $5-billion (#285 of Fortune 500) chain with J.C. Penney’s 1,000-store, $5-billion chain; New Homes Realty, a Top 10 real estate internet site with 1,000,000 visitors monthly and 400 agents; and Lifestyle Family Fitness, a Top 10 fitness club chain as it grew from seven to 55 clubs, 220,000 members and $100,000,000 in revenue; and</li>
            <li> A public company director recruited by major investors to assist companies through class action suits, Department of Justice and SEC investigations, multi-year re-audits and restatements, activist investor and director involvement, hostile takeover, mergers and acquisitions, and sales of the companies.</li>
        </ol>
    </div>
</div>
