@{
    Page.Title = "Industries";
    Page.CanonicalLink = "http://www.growthadvisorsllc.com/industries";
}
@Html.Partial("ImageSlider")
<div id="industries" class="container_12 clearfix">
    <div class="grid_12">
        <h1>Industries</h1>
        <section>
            <ul>
                <li>Business services</li>
                <li>Communications and media</li>
                <li>Construction and real estate</li>
                <li>Consumer services and markets</li>
                <li>Distribution</li>
                <li>Food, drink and consumer goods</li>
                <li>Healthcare services</li>
                <li>High growth markets</li>
                <li>Manufacturing</li>
                <li>Medical devices</li>
                <li>Pharmaceuticals</li>
                <li>Private equity</li>
                <li>Professional services</li>
                <li>Software</li>
                <li>Real estate brokerage</li>
                <li>Real estate development</li>
                <li>Retail</li>
                <li>Restaurants</li>
                <li>Technology</li>
                <li>Transportation-motor carrier</li>
            </ul>
        </section>
    </div>
</div>
